/* OU WEB COLORS

OU Crimson: #841617
OU Cream: #FDF9D8

Light Green:  #74ad68
Dark Green:   #3e6a34
Light Blue:   #298ac4
Dark Blue:    #254467
Light Grey:   #cccccc
Dark Grey:    #999999
Light Red:    #971d20
Dark Red:     #660000
Light Tan:    #e4e0c3
Dark Tan:     #807662

*/


html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body { font-family: 'Open Sans', sans-serif; font-weight: 400;  }


#masthead {
	margin: 0 0 10px 0;
	display: flex;
}

#home-lead {
	background:url("../risk-transition.png") no-repeat bottom;
	}
#home-lead .btn {
	margin-bottom: 110px;
	}
	
#pullouts {
	width: 100%;
	background:#222;
	color: #FDF9D8;
	padding-bottom:40px;
	}
#main-wrapper {
	box-sizing: border-box;
	min-height: 100%;
	position: relative;
}
#maincontent {
	padding-bottom:40px;
	}
#teamcontent .ih-item {margin-left:25px;}
#teamcontent .contactlink {padding:5px 0 50px 35px;}
#teamcontent .modal-body h3 {
	color: #841617;
	font-weight: bold;
	margin-left: 30px;
}
#teamcontent .modal-body p {
	text-align: justify;
	margin: 0px 30px 20px 30px;
}


#footer  {
	bottom: 0;
	left: 0;
	position: relative;
	width: 100%;
	height:350px;
	padding-top: 30px;
	background-color: #4c0000;
	color: #FFF;
	font-size: .8em;
	}
#footer a {color:#FFF;}

#focusAreaTree {display:none;}	
	
#chartcallout {
	margin:0;
	text-align:center;
	font-style: italic;
	padding:9px 70px;						
	background: rgba(0, 0, 0, 0.28);					
	color: #841617;
}

#tweetchart {
	margin: 0;
	padding: 0;
	height:400px;	
}


/* CAROUSEL */

/*to fix flickering bug in all text on page on slide*/
#riskCarousel {position:relative; z-index: 1000;} 

#riskCarousel .carousel-inner {background:#310000;}
#riskCarousel .carousel-caption {
	font-size:2.5em;
	font-family:Garamond serif;								
	padding:20px;
	top:50%;
	bottom:auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);							
	/*padding: 15px;*/
	background: rgba(0, 0, 0, 0.28);					
	border:none;
	text-align:center;		
	}			
	
	
/* FOCUS AREA NODE TREE */

.node {cursor: pointer;}
.overlay {/*background-color:#FFF;*/}
.node circle {fill: #FDF9D8;stroke: #254467;stroke-width: 3px;}
.node text {font: 12px sans-serif;}
.link {fill: none;stroke: #ccc;stroke-width: 2px;}
.templink {fill: none;stroke: red;stroke-width: 3px;}
.ghostCircle.show {display:block;}
.ghostCircle, .activeDrag .ghostCircle {display: none;}		


/* SCALING FOR DEVICE SCREENS */

@media screen and (min-width: 992px) {
	#navmenu a {letter-spacing:1.1px;}	
	#chartcallout { font-size: 1.3em; }	
}

@media screen and (min-width: 700px) {
	#navmenu a {font-weight:bold;}	
}

@media screen and (max-width: 992px) {
	#navmenu a {font-size:1em;}	
	#riskCarousel .carousel-caption { font-size:2em; }
}

@media screen and (max-width: 700px) {
	#navmenu a {font-size:.7em;}
	#riskCarousel .carousel-caption { font-size:1.5em; }
}

@media screen and (min-width: 700px) {
	#focusAreaTree {display:block;}		
}

@media screen and (max-width: 500px) {
	#navmenu a {font-size:.5em;}	
	#focusAreaTree {display:none;}		
}

@media screen and (max-width: 475px) {
	#navmenu a {font-size:.4em;}
	ol.carousel-indicators {display:none;}
	#riskCarousel .carousel-caption { font-size:1em; }			
}

@media screen and (max-width: 320px) {
	#navmenu a {font-size:.35em;}
}

