<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	indexPageName="Ashley_Deck Construction at ISU.html"

>
  <image imageURL="images/20160205_145144.jpg"
	thumbURL="thumbs/20160205_145144.jpg"
	linkURL="images/20160205_145144.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\20160205_145144.jpg">
    <title><![CDATA[20160205_145144]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160224_132723.jpg"
	thumbURL="thumbs/20160224_132723.jpg"
	linkURL="images/20160224_132723.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\20160224_132723.jpg">
    <title><![CDATA[20160224_132723]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160224_164011.jpg"
	thumbURL="thumbs/20160224_164011.jpg"
	linkURL="images/20160224_164011.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\20160224_164011.jpg">
    <title><![CDATA[20160224_164011]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1090722.jpg"
	thumbURL="thumbs/P1090722.jpg"
	linkURL="images/P1090722.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\P1090722.jpg">
    <title><![CDATA[P1090722]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1090723.jpg"
	thumbURL="thumbs/P1090723.jpg"
	linkURL="images/P1090723.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\P1090723.jpg">
    <title><![CDATA[P1090723]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1090724.jpg"
	thumbURL="thumbs/P1090724.jpg"
	linkURL="images/P1090724.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\P1090724.jpg">
    <title><![CDATA[P1090724]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1090730.jpg"
	thumbURL="thumbs/P1090730.jpg"
	linkURL="images/P1090730.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\P1090730.jpg">
    <title><![CDATA[P1090730]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1090746.jpg"
	thumbURL="thumbs/P1090746.jpg"
	linkURL="images/P1090746.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\P1090746.jpg">
    <title><![CDATA[P1090746]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/P1090751.jpg"
	thumbURL="thumbs/P1090751.jpg"
	linkURL="images/P1090751.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\P1090751.jpg">
    <title><![CDATA[P1090751]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160109_165755.jpg"
	thumbURL="thumbs/20160109_165755.jpg"
	linkURL="images/20160109_165755.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\20160109_165755.jpg">
    <title><![CDATA[20160109_165755]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160109_165830.jpg"
	thumbURL="thumbs/20160109_165830.jpg"
	linkURL="images/20160109_165830.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\20160109_165830.jpg">
    <title><![CDATA[20160109_165830]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160109_165845.jpg"
	thumbURL="thumbs/20160109_165845.jpg"
	linkURL="images/20160109_165845.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\20160109_165845.jpg">
    <title><![CDATA[20160109_165845]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160109_165854.jpg"
	thumbURL="thumbs/20160109_165854.jpg"
	linkURL="images/20160109_165854.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\20160109_165854.jpg">
    <title><![CDATA[20160109_165854]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160109_165918.jpg"
	thumbURL="thumbs/20160109_165918.jpg"
	linkURL="images/20160109_165918.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\20160109_165918.jpg">
    <title><![CDATA[20160109_165918]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160109_170051.jpg"
	thumbURL="thumbs/20160109_170051.jpg"
	linkURL="images/20160109_170051.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\20160109_170051.jpg">
    <title><![CDATA[20160109_170051]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160205_145110.jpg"
	thumbURL="thumbs/20160205_145110.jpg"
	linkURL="images/20160205_145110.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\20160205_145110.jpg">
    <title><![CDATA[20160205_145110]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160205_145118.jpg"
	thumbURL="thumbs/20160205_145118.jpg"
	linkURL="images/20160205_145118.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\20160205_145118.jpg">
    <title><![CDATA[20160205_145118]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160205_145124.jpg"
	thumbURL="thumbs/20160205_145124.jpg"
	linkURL="images/20160205_145124.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\20160205_145124.jpg">
    <title><![CDATA[20160205_145124]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160205_145126.jpg"
	thumbURL="thumbs/20160205_145126.jpg"
	linkURL="images/20160205_145126.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\20160205_145126.jpg">
    <title><![CDATA[20160205_145126]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160205_145133.jpg"
	thumbURL="thumbs/20160205_145133.jpg"
	linkURL="images/20160205_145133.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\SONY\Desktop\20160205_145133.jpg">
    <title><![CDATA[20160205_145133]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>